<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SNinja_Atk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,96}</string>
                <key>spriteSourceSize</key>
                <string>{114,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{114,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SNinja_Atk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,96}</string>
                <key>spriteSourceSize</key>
                <string>{107,96}</string>
                <key>textureRect</key>
                <string>{{114,0},{107,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SNinja_Atk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,96}</string>
                <key>spriteSourceSize</key>
                <string>{113,96}</string>
                <key>textureRect</key>
                <string>{{221,0},{113,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SNinja_Atk4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,96}</string>
                <key>spriteSourceSize</key>
                <string>{114,96}</string>
                <key>textureRect</key>
                <string>{{334,0},{114,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SNinja_Atk5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,96}</string>
                <key>spriteSourceSize</key>
                <string>{113,96}</string>
                <key>textureRect</key>
                <string>{{448,0},{113,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SNinja_Atk6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,96}</string>
                <key>spriteSourceSize</key>
                <string>{113,96}</string>
                <key>textureRect</key>
                <string>{{561,0},{113,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SNinja_Atk7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,96}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{674,0},{64,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>melee_attack.png</string>
            <key>size</key>
            <string>{738,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f33f6577f89b73fbfa71814a66130bd4:2194d83e410ea18a7ecb42405cf4e435:aade3f2dd99a695727e98e0a2988c382$</string>
            <key>textureFileName</key>
            <string>melee_attack.png</string>
        </dict>
    </dict>
</plist>
